@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <a href="@Url.RouteUrl("StatusApi")">Status API</a>
    <a href="~/openapi.json">Open API</a>
</div>
</body>
</html>